language: node_js
node_js:
  - "stable"

install:
  - cd client
  - npm install

script:
  - npm run test:unit

script:
  - ls -lsa

deploy:
  provider: firebase
  token:
    secure: "1/G4797V37nQfPMxH3OWjH9zq3ys1zUeBr8DWCrr_TrEUPd9W7DAQ-RJYSqoDPpOIQ"
  message: "Client Deploy"
  on:
    branch: master

cache:
  directories:
    - client/node_modules
